<!-- mb-2 : margin bottom 2-->
<!-- when render this page with an Array "ideas" contains multiple ideas -->
<!-- loop through each idea in the Array "ideas", and create a <div class="card card-body mb-2"> for each idea -->
{{#each ideas}}
    <div class="card card-body mb-2">
        <h4>{{title}}</h4>
        <p>{{details}}</p>
        
        <!-- give the route to 'href' in <a> -->
        <a href="/ideas/edit/{{_id}}" class="btn btn-dark btn-block">Edit</a>
        
        <!-- give the route to 'action' and method='post' for the form -->
        <!-- _id refers to the ObjectID of each idea in Array ideas -->
        <!-- check mongodb the _id property name, different version of mongodb the id name can be different -->
        <form action="/ideas/{{_id}}?_method=DELETE" method="post">
            
            <!-- add the following <input type="hidden">, "_method" will be used in methodOverride -->
            <!-- thus, app.delete("xxx") can be handled -->
            <input type="hidden" name="_method" value="DELETE" />
            
            <input type="submit" class="btn btn-danger btn-block" value="Delete" />
        </form>
    </div>
{{else}}
    <p>No note listed</p>
{{/each}}