<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <h3 class="text-center">Account Register</h3>

            <!-- "/users/register" refers to the route, with the method of "post" -->
            <form action="/users/register" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control" value="{{name}}" autocomplete="off" />
                </div>

                <div class="form-group">
                    <label for="email">email</label>
                    <input type="email" name="email" class="form-control" value="{{email}}" autocomplete="off" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" value="{{password}}" />
                </div>
                <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    <input type="password" name="password2" class="form-control" value="{{password2}}" />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <!-- {{xxx}} is used as the value of <input> -->
            <!-- in case the entry is invalid, the page will keep the user input for changing -->

        </div>
    </div>
</div>


